<!-- kiểu 1 -- có 3 sản phẩm 1 dòng -->
<div class="new_product_area">
    <div class="block_title">
        <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: navy;">Sản Phẩm Mới</h3>
    </div>
    <div class="row">
        <% if (spNew && spNew.length > 0) { %>
        <div class="product_active owl-carousel">
                <% spNew.forEach(function(spNew) { %>
            <div class="col-lg-3">
                <div class="single_product">
                    <div class="product_thumb">
                       <a href="/detailt-sp-ht1?idDetailtSP=<%= spNew._id %>"><img src="images/upload/<%= getRelativeImagePath(spNew.Image) %>" alt=""></a> 
                       <% if (spNew.New_Hot === "New") { %>
                        <div class="img_icone">
                            <img src="assets\img\cart\span-new.png" alt="">
                        </div>
                        <% } else { %> 
                        <div class="hot_img">
                            <img src="assets\img\cart\span-hot.png" alt="">
                        </div>
                        <% } %> 
                       <div class="product_action">
                           <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                           <!-- <a href="#"> <i class="fa fa-eye"></i> &ensp; View Detail</a> -->
                       </div>
                    </div>
                    <div class="product_content">
                        <span class="product_price" style="color: red;"><%= formatCurrency(spNew.GiaBan) %></span>
                        <h3 class="product_title"><a style="font-size: 18px ;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" href="/detailt-sp-ht1?idDetailtSP=<%= spNew._id %>"><%= spNew.TenSP %></a></h3>
                    </div>
                    <div class="product_info">
                        <ul>
                            <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                            <li><a id="viewDetailt" href="#" data-product-id="" data-toggle="modal" data-target="#modal_box" title="Quick view" >View Detail</a></li>                          
                            <!-- <form action="/detailt-sp" method="post">
                                <input type="hidden" name="idDetailtSPP" value="">
                                <li><button  class="viewDetaill" id="viewDetailt" data-product-id="" data-toggle="modal" data-target="#modal_box" title="Quick view" >View Detail</button></li>
                            </form>                             -->
                        </ul>
                    </div>
                </div>
            </div>
                <% }); %> 
            </div> 
            <% } else { %> 
                <p>Admin chưa update sản phẩm</p>
            <% } %>
    </div>       
</div> 



